<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
 
<suite name="Create Account Suite" verbose="1">
  
    <parameter name="browser" value="firefox"/>
    <parameter name="browser" value="ie9"/>
    <test name="Validation that account can be created">
       
        <classes>
            <class name="test.nestle.Suite.CreateAccount"/>
        </classes>
 
        <groups>
            <run>

                <include name="create"/>
            </run>
        </groups>
    </test>
</suite>
